.home{
    background-color: transparent;
    height: 63vh;
    margin-top: 1%;
    margin-bottom: 39%;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: pink; */
    z-index: -10;
}

.homepage-bg{ 
    flex-direction: column;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    height: 56vh;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    min-height: 56vh;
    /* position: absolute; */
    
} 

#hello{
    margin-top: 8%;
    /* border: 5px solid red; */
    text-align: center;
    color: white;
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 44px;
    font-weight: bold;
    min-width: 680px;
}

.search-home{
    margin-left:35%;
    margin-right: 35%;
    margin-top: 2%;
    background-color: white;
    border-radius: 35px;
    display: flex;
    min-width: 200px;
}

#search{
    border: 2px solid rgba(255, 255, 255, 0);
    width: 25px;
    height: 25px;
    margin-top: 1%;
    margin-left: 2%;
}

.bar{
    margin-top: 1%;
    height: 30px;
    width: 80%;
    outline:none;
    border:none;
}

.bar:focus{
    padding: 0%;
   
}

#click{
    /* border: 2px solid white; */
    width: 30px;
    height: 30px;
    margin-right: 0%;
    margin-top: 0.5%;
}

.block1{
    margin-top: 14%;
    width: 100%;
    min-width: none;
    background-color: rgba(211, 211, 211, 0.842);
    height: 100%;
    /* text-align: center; */
    display: flex;
}

.title{
    /* border: 3px solid blue; */
    margin-top: 3%;
    width: 100%;
    height: 6%;
    min-width: 475px;

}
#title{
    /* background-color: aqua; */
    margin-top: 13%;
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700; 
    line-height: 1.1;
    color: #333;
    max-width: 1240px;
    margin: 0 auto 12px;
    text-align: center;
}

.home-show{
    /* border: 2px solid green; */
    height: 50%;
    width: 100%;
    /* margin-top: 10%; */
    margin-left: 0%;
}


.block2{
 /* border: 5px solid yellow; */
 margin-top: 5%;
 margin-left: 18%;
 margin-right: 18%;
 min-width: 1050px;
 display: flex;
}


.block3{
    /* border: 3px solid black; */
    height: 80%;
    width: 53%;
    /* margin-right: 40%; */
    /* margin-top: 4%; */
    display: flex;
    justify-content: space-between;
}

#pic-top{
    /* border: 3px solid red; */
    height: auto;
    width: 106%;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
}

#hiking{
    width: 20vh;
    height: 20vh;
}

#hiking:hover{
    animation: .5s 1 forwards scales; 
}

#running{
    width: 20vh;
    height: 20vh;
}

#running:hover{
    animation: .5s 1 forwards scales; 
}

#wheelchair{
    width: 20vh;
    height: 20vh;
}

#wheelchair:hover{
    animation: .5s 1 forwards scales; 
}

#pic-bot{
    /* border: 3px solid blue; */
    height: auto;
    width: 106%;
    margin-top: 2%;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
}

#mountainBike{
    width: 20vh;
    height: 20vh;
}

#mountainBike:hover{
    animation: .5s 1 forwards scales; 
}

#dog{
    width: 20vh;
    height: 20vh;
}

#dog:hover{
    animation: .5s 1 forwards scales; 
}

#roadBike{
    width: 20vh;
    height: 20vh;
}

#roadBike:hover{
    animation: .5s 1 forwards scales; 
}


@keyframes scales {
    10% {transform: scale(1.003);}
    30% {transform: scale(1.006);}
    50% {transform: scale(1.009);}
    70% {transform: scale(1.012);}
    100% {transform: scale(1.015);}
}


.block4{
    /* border: 3px solid green; */
    /* background-color: aqua; */
    /* heigh:  */
    margin-left: 8%;
    margin-top: 6%;
    margin-right: 5%;
    min-width: 350px;
}

#text1{
    /* border: 2px solid blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 200%;
    color: var(--typography-dark-gray);
}

#text2{
    /* border: 2px solid blue; */
    margin-right: 25%;
    margin-top: 5%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
    font-size: 100%;
    color: var(--typography-dark-gray);
}

#botton{
    margin-top: 5%;
    border: 2px solid gray;
    height: 13%;
    margin-right: 75%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botton:hover{
    background-color: rgb(216, 216, 216);
    cursor: pointer;
} 

#signup{
    color: black;
    font-family: Proxima Nova,Arial,sans-serif;
}

.block5{
    margin-top: 5%;
    height: 40%;
    background-color: rgba(211, 211, 211, 0.842);
}

#about{
    /* background-color: aqua; */
    margin-left: 2%;
    margin-right: 90%;
    padding-top: 2%;
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: bold;
    font-size: larger;
}