.map{
    /* border: 2px solid green; */
    min-height: 300px;
    width: 90%;
    /* min-width: 220px; */
    border-radius: 10px;
    padding: 4%;
    margin-top: 4px;
    /* position: absolute; */
}