*{
    margin: 0;
    padding: 0;
}


.box{
    margin-top: 1%;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background:url(signupBG.jpeg) no-repeat ;
    background-size: 100% 100%;
}

.signup-page{
    background-color: white;
    border-radius: 16px;
    /* border: transparent rgba(255, 255, 255, 0.5); */
    /* box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5); */
    box-shadow:  8px 16px -1px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    width: 27%;
    height: 60%;
    display: flex;
    justify-content: center;
    display: table-row;
}

#create-account{
    font-size: smaller;
    text-align: center;
    margin-top: 5%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 5%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.session-form {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    /* background-color: aqua; */
    width: auto;
    /* padding: 1%; */
    border-radius: 5px;
    text-align: flex;
}


.session-form input {
    font-size: 15px;
    width: 100%;
    margin-top: 5%;
    border: none;
    border: 1px solid #0b921ba8;
    border-radius: 5px;
    padding: 15px 0px 5px 0px;
    outline: none;
}

/* .session-form label{
    position: absolute;
    color: black;
}  */

.button{
    border-radius: 35px;
    width: 100%;
    padding: 9px;
    margin-top: 6%;
    background-color:  #4CAF50;
    border: 2px solid #4CAF50; 
}

.button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
} 

.or{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

.text{
    text-align: center;
    width: 30px;
    height: 20px;
    background-color: white;
    z-index: 1;
    position: absolute;
}

.hr{
    border: 9px solid white;
    background-color: rgb(208, 207, 207);
    width: 100%;

}

#have-account{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    /* background-color: aqua; */
}

